# Repo-Level Owners (in alphabetical order)
# Note: This is only for the notaryproject/roadmap repo
* @FeynmanZhou @justincormack @iamsamirzon @niazfk @priteshbandi @stevelasker @toddysm @vaninrao10 @yizha1
